<h2 mat-dialog-title>New shift</h2>

<div mat-dialog-content>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="appointment-form">

    <div class="row">
    <mat-form-field appearance="fill" class="half">
      <mat-label>Appointment date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="appointment_date" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="appointmentDate?.hasError('required')">
        Date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half">
      <mat-label>Appointment time</mat-label>
      <mat-select formControlName="appointment_time">
        <mat-option value="09:00">09:00</mat-option>
        <mat-option value="12:00">12:00</mat-option>
        <mat-option value="15:00">15:00</mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentTime?.hasError('required')">
        Time is required
      </mat-error>
    </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Service type</mat-label>
      <input matInput formControlName="service_type">
      <mat-error *ngIf="serviceType?.hasError('required')">
        Service type is required
      </mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div formGroupName="workshop" class="formGroup">
      <mat-label>Workshop</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Place</mat-label>
        <mat-select matInput formControlName="place_id" required>
          <mat-option *ngFor="let workshop of workshops" [value]="workshop.id">
            {{ workshop.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="workshop?.hasError('required')">
          Workshop is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Whatsapp</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div formGroupName="contact" class="formGroup">
      <mat-label>Contact</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="contactName?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="contactEmail?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="contactEmail?.hasError('email')">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="contactPhone?.hasError('pattern')">
          Only numbers, +, ( ) are allowed
        </mat-error>
  
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div formGroupName="vehicle" class="formGroup">
      <mat-label>Vehicle</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Make</mat-label>
        <input matInput formControlName="make">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput formControlName="year">
        <mat-error *ngIf="vehicleYear?.hasError('pattern')">
          The year must be a 4-digit number (e.g. 2020).
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>License plate</mat-label>
        <input matInput formControlName="license_plate">
        <mat-error *ngIf="vehicleLicensePlate?.hasError('pattern')">
          Valid formats: ABC123 OR AB123CD.
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="appointmentForm.invalid" (click)="save()">Create
    Appointment</button>
</div>